<a href="https://colab.research.google.com/github/angelamrtns/dio-resumos-git-e-github/blob/main/Aula_2_Python_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python para Data Science

Notebook para o curso de Python para Data Science publicado na plataforma da [Alura](https://www.alura.com.br/)

# Introdução ao Python

Vamos conhecer o Python, nosso ambiente de estudo e também faremos nosso primeiro código nessa linguagem!

## Google Colaboratory

Já aprendemos o que é o [Python](https://www.python.org/) agora vamos aprender a utilzar o [Google Colaboratory](https://colab.research.google.com/) e programar em um notebook.

Vamos testar algumas funções dessa ferramenta.

 **`>>> Use essa célula para mover <<<`**

In [ ]:
10

10

## Olá mundo!

Vamso conhecer mais como funciona o ambiente interativo de um notebook. Para isso vamos executar nosso primeiro comando em Python: [`print()`](https://docs.python.org/3/library/functions.html#print)

In [ ]:
print('Olá mundo!')

Olá mundo!

In [ ]:
print(10)

10

In [ ]:
print('Mirla',23)

Mirla 23

# Manipulando dados

Vamos aprender sobre as variáveis no python, como elas são declaradas e utilizadas além de conhecer outros comandos dentro do Python. :D

## Variáveis

Em Data Science nós trabalhamos com vários dados e informações, então é essencial saber trabalhar com variáveis.

Criamos uma variável no python através da atribuição de um valor a ela.

Para fazer isso, colocamos o nome da variável um sinal de igual (`=`) e o valor que queremos atribuir

In [ ]:
idade = 5

In [ ]:
print(idade)

5

In [ ]:
idade = 10
print(idade)

10

In [ ]:
idade = 15
idade

15

In [ ]:
nome = 'Gabriel'
nome

'Gabriel'

Nomes que **não** podemos definir para variáveis:

- **Nomes que começam com números**
  - Exemplos: `10_notas`, `2_nomes_casa`, etc.
- **Palavras separada por espaço**
  - Exemplos: `Nome escola`, `notas estudantes`, etc.
- **Nomes de funções do Python**
  - Exemplos: `print`, `type`, etc.

> Letras maiúsculas e minúsculas vão gerar diferentes variáveis. A varíavel `idade` é diferente de `Idade` que por sua vez também é diferente de `IDADE`:
``` Python
idade = 1
Idade = 2
IDADE = 3
_idade = 4
_idade_ = 5
print(idade, Idade, IDADE, _idade, _idade_)
1 2 3 4 5
```

## Tipos de variáveis

Cada variável contém uma classe especifica quanto ao tipo de objeto que ela está se referenciando. Essas classes vão ser diferentes a partir do tipo de dado que nós atribuimos a uma variável.

Para saber a classe de cada elemento usamos a função [`type()`](https://docs.python.org/3/library/functions.html#type)

In [ ]:
i = 5
type(i)

int

In [ ]:
f = 9.8
type(f)

float

In [ ]:
s = 'Mirla'
type(s)

str

In [ ]:
b = True
type(b)

bool

Em um conjunto de dados escolares podemos ter vários tipos de informações. Digamos que tenhamos acesso à ficha de dados do aluno *Frabicio Daniel* como transformamos ela em variáveis no Python?

#### Ficha:

- Nome: Fabricio Daniel
- Idade: 15 anos
- Media do semestre: 8,45
- Situação de aprovação: Verdadeira (aprovado)

In [ ]:
nome_aluno = 'Fabricio Daniel'
idade_aluno = 15
media_aluno = 8.45
situacao_aprovado = True
print(nome_aluno,idade_aluno,media_aluno,situacao_aprovado)

Fabricio Daniel 15 8.45 True

## Variáveis numéricas

Entre os tipos de dados numéricos vamos nos focar no tipo `inteiro` e `float`.

Temos uma tabela de informação de empregos quanto ao cargo, quantidade de pessoas empregadas e o salário correspondente:

|Cargo | Quantidade | Salário|
|---|---|---|
|Segurança | 5 | 3000 |
|Docente | 16| 6000|
|Diretoria| 1 |12500|

Precisamos trabalhar com esses dados fornecendo:

- A quantidade total de empregados;
- A diferença entre o salário mais baixo e mais alto; e
- A média ponderada da faixa salarial da escola.

In [ ]:
q_seguranca = 5
s_seguranca = 3000

q_docente = 16
s_docente = 6000

q_diretoria = 1
s_diretoria = 12500

In [ ]:
total_empregados = q_seguranca + q_docente + q_diretoria
total_empregados

22

In [ ]:
diferenca_salario =  s_diretoria - s_seguranca
diferenca_salario

9500

In [ ]:
media = (q_seguranca*s_seguranca + q_docente*s_docente + q_diretoria*s_diretoria) / (total_empregados)
media

5613.636363636364

## Strings

Strings são caracterizada por ter um conjunto de caracteres formando um texto.

Strigs podem ser criadas ao atribuirmos a uma variável um dado que esteja entre aspas simples (`'`) ou aspas duplas (`"`)

In [ ]:
s1 = 'Alura'
s2 = "Alura"
print(type(s1),type(s2))

<class 'str'> <class 'str'>

As variáveis textuais contém vários métodos que nos ajudam a formatar strings. Métódos podem ser executados ao definirmos um objeto seguindo a seguinte estrutura:

```
objeto.metodo()
```

Existem métodos que não necessitam dos `()`, é preciso verificar a documentação de cada caso.

---
**Situação:**

Recebemos uma variável com o nome de uma professora da escola para inserimos no cadastro. No entanto, precisamos tratar esse texto antes de inserirmos no sistema

In [ ]:
texto = '  Geovana Alessandra dias Sanyos '

O objetivo final é que o nome esteja da seguinte forma:

```
'GEOVANA ALESSANDRA DIAS SANTOS'
```

### [`str.upper()` ](https://docs.python.org/3/library/stdtypes.html#str.upper)
Converte uma string para maiúsculas

In [ ]:
texto.upper()

'  GEOVANA ALESSANDRA DIAS SANYOS '

### [`str.lower()`](https://docs.python.org/3/library/stdtypes.html#str.lower)
Método converte uma string para minúsculas.

In [ ]:
texto.lower()

'  geovana alessandra dias sanyos '

### [`str.strip()`](https://docs.python.org/3/library/stdtypes.html#str.strip)
Método remove os espaços em branco do início e do fim de uma string.

In [ ]:
texto.strip()

'Geovana Alessandra dias Sanyos'

### [`str.replace(antigo, novo)`](https://docs.python.org/3/library/stdtypes.html#str.replace)

Método substitui todas as ocorrências do texto "antigo" na string por "novo"

In [ ]:
texto.replace('y','t')

'  Geovana Alessandra dias Santos '

### Observações

1. Os métodos retornam uma **tranformação**, não a executam no texto!

2. Além disso, podemos acumular a execução de métodos.

In [ ]:
texto

'  Geovana Alessandra dias Sanyos '

Para que seja executada a transformação nós podemos atribuir às saídas das transformações à variável

In [ ]:
texto = texto.strip().replace('y','t').upper()
texto

'GEOVANA ALESSANDRA DIAS SANTOS'

## Coletando dados

Em algumas aplicações precisamos coletar valores da pessoa usuária do nosso projeto. Em python conseguimos coletar dados de usuário através do comando [`input()`](https://docs.python.org/3/library/functions.html#input).

Para fazer essa coleta podemos atribuir essa função à uma variável.

In [ ]:
nome = input('Escreva seu nome: ')

Escreva seu nome: Mirla

In [ ]:
nome

'Mirla'

O retorno desse comando sempre será uma *string*. Isso quer dizer que mesmo que façamos uma coleta de algo que deva ser numérico, ele será uma string.

Então, será preciso **converter o resultado caso não seja desejável obter uma string**.

Existem funções para conversão de valores:

- Inteiros: [`int(dado_para_conversao)`](https://docs.python.org/3/library/functions.html#int)
- Float: [`float(dado_para_conversao)`](https://docs.python.org/3/library/functions.html#float)
- String: [`str(dado_para_conversao)`](https://docs.python.org/3/library/functions.html#func-str)
- Booleano: [`bool(dado_para_conversao)`](https://docs.python.org/3/library/functions.html#bool)

In [ ]:
ano_entrada = input('Escreva o ano de ingresso do(a) estudante: ')

Escreva o ano de ingresso do(a) estudante: 2023

In [ ]:
type(ano_entrada)

str

In [ ]:
ano_entrada = int(input('Escreva o ano de ingresso do(a) estudante: '))

Escreva o ano de ingresso do(a) estudante: 2023

In [ ]:
type(ano_entrada)

int

Buscaremos apresentar melhor agora o resultado que obtivemos da transformação. Nós conseguimos formatar e apresentar o nosso resultado misturando strings com valores não textuais.

Para fazer isso usamos a estrutura de formatação `f` com strings.

In [ ]:
nota_entrada = float(input('Digite a nota do teste de ingresso: '))
print(f'Ano de entrada {ano_entrada} - nota do teste de ingresso {nota_entrada}')

Digite a nota do teste de ingresso: 9.0
Ano de entrada 2023 - nota do teste de ingresso 9.0

# Estruturas condicionais

## `IF` e `ELSE`

O `if` e `else` são duas estruturas condicionais. O `if` executará o bloco de comando caso a condição colocada for **verdadeira**. O `else` é um caso em que a condicional de `if` seja **falsa**.

O `if` é uma palavra-chave em Python que significa "se". Ele é usado para formar uma estrutura condicional, que permite que você verifique se uma determinada condição é verdadeira ou falsa e, em seguida, execute um bloco de código específico dependendo do resultado da verificação. A sintaxe para usar o `if` é:



```
if condição:
    # faça algo
```

Já o `else` em Python é usada em conjunto com a palavra-chave `if` para formar uma estrutura condicional. A sintaxe para usar o `else` é:

```
if condição:
  # código caso seja verdade
else:
  # código caso seja falso
```

O `else` é executado quando a condição verificada pelo `if` é avaliada como `False`.

---
**Situação:**

Receberemos a média de estudantes e precisamos de um algoritmo que execute a análise e decida se esse estudante está **Aprovado** ou Reprovado, mostrando uma mensagem do resultado. Para ser aprovado, a média precisa ser igual ou superior à 6.0.

In [ ]:
media = float(input('Digite a média: '))

Agora a nossa instituição de ensino lançou uma nota oficial que pessoas que tenham média entre 4.0 e 6.0 podem fazer os cursos de **Recuperação** nas férias para poder recuperar a nota.

Então podemos agora fazer um conjunto de `if`s para que possamos estruturar essa nova condição.

In [ ]:
media = float(input('Digite a média: '))

Notemos que em casos com 3 situações como esse precisamos definir bem nossas condições. Pois foi feita uma construção com `else` no final, ele irá considerar apenas a alguma condicional para ser o caso **falso** podendo resultar em duas (ou mais) execuções.

Por exemplo:

In [ ]:
media = float(input('Digite a média: '))

## `ELIF`

O `elif` é uma palavra-chave em Python que significa "senão, se" e pode ser considerado uma união do `else` com um `if`. Ela é usada em conjunto com a palavra-chave `if` para formar uma estrutura condicional encadeada.

A sintaxe para usar o `elif` é:

```
if condição1:
    # faça algo
elif condição2:
    # faça outra coisa
elif condição3:
    # faça mais alguma coisa
else:
    # faça algo diferente
```

O `elif` permite que você verifique várias condições de forma encadeada, economizando espaço em seu código. Se a primeira condição for avaliada como `False`, o interpretador Python avaliará a próxima condição no `elif`. Isso continuará até que uma condição seja avaliada como `True` ou até que o `else` seja atingido. Se nenhuma das condições forem avaliadas como `True`, a execução do código do `else` será iniciada.

Vamos usar o mesmo caso anterior:

In [ ]:
media = float(input('Digite a média: ').replace(',','.'))

if media >= 6.0:
  print('Aprovado (a)!')
elif 6.0 > media >= 4.0:
  print('Recuperação!')
else:
  print('Reprovado (a)!')

Digite a média: 5,3
Recuperação!

## Operadores

Durante a construção de comandos por vezes precisamos de uma elaboração maior de da expressão condicional, necessitando que alguns operadores lógicos estejam integrados.

### `AND`, `OR`, `NOT`

Os operadores lógicos `and`, `or` e `not` são usados para combinar expressões lógicas em Python. Eles são usados frequentemente em conjunto com o `if` para criar estruturas condicionais mais complexas.

- `AND` é usado para verificar se duas condições são verdadeiras. A expressão lógica¹ `x and y` é avaliada como `True` apenas se **ambas as condições `x` e `y` forem verdadeiras**, e como `False` caso contrário.

- `OR` é usado para verificar se pelo menos uma das condições é verdadeira. A expressão lógica `x or y` é avaliada como `True` **se pelo menos uma das condições `x` ou `y` for verdadeira**, e como `False` se ambas forem falsas.

- `NOT` é usado para **negar uma condição**. A expressão lógica not x é avaliada como True se a condição x for falsa, e como False se a condição x for verdadeira.

¹ Uma expressão lógica é uma declaração que pode ser avaliada como verdadeira ou falsa. Ela é composta por operandos lógicos² e operadores lógicos³, que são usados ​​para combinar várias expressões lógicas em uma única expressão.

² Os operandos lógicos são os elementos que são comparados ou avaliados em uma expressão lógica. Eles são geralmente valores verdadeiros ou falsos, mas também podem ser expressões lógicas mais complexas. Em Python, os operandos lógicos são os valores `True` e `False`.

³ Os operadores lógicos são os símbolos ou palavras-chave que são usados ​​para combinar várias expressões lógicas em uma única expressão. Em Python, os operadores lógicos são `and`, `or` e `not`, bem como as palavras-chave `if`, `elif` e `else`.

In [ ]:
t1 = t2 = True
f1 = f2 = False

In [ ]:
if t1 and f2:
  print('expressão verdadeira')
else:
  print('expressão falsa')

expressão falsa

In [ ]:
if f1 or t2:
  print('expressão verdadeira')
else:
  print('expressão falsa')

expressão verdadeira

In [ ]:
if not f1 :
  print('expressão verdadeira')
else:
  print('expressão falsa')

expressão verdadeira

### `IN`

É usado para verificar se um elemento está presente em uma lista, tupla ou outra variável de conjunto. A expressão `x in y` é avaliada como `True` se o elemento `x` estiver presente na variável de conjunto `y`, e como `False` caso contrário.

Podemos verificar isso com variáveis de texto.

---

**Situação:**

Na escola foi passada uma lista com nomes de estudantes que foram aprovados por média no semestre, mas é preciso verificar se alguns nomes estão nessa lista para verificar se os dados estão corretos.

A lista distribuida pode ser observada abaixo:

```
lista = 'José da Silva, Maria Oliveira, Pedro Martins, Ana Souza, Carlos Rodrigues, Juliana Santos, Bruno Gomes, Beatriz Costa, Felipe Almeida, Mariana Fernandes, João Pinto, Luísa Nascimento, Gabriel Souza, Manuela Santos, Thiago Oliveira, Sofia Ferreira, Rafael Albuquerque, Isabella Gomes, Bruno Costa, Maria Martins, Rafaela Souza, Matheus Fernandes, Luísa Almeida, Beatriz Pinto, Mariana Rodrigues, Gabriel Nascimento, João Ferreira, Maria Albuquerque, Felipe Oliveira
'
```

Os nomes que precisam ser verificados são os seguintes:

```
nome_1 = 'Mariana Rodrigues'
nome_2 = 'Marcelo Nogueira'
```

In [ ]:
lista = 'José da Silva, Maria Oliveira, Pedro Martins, Ana Souza, Carlos Rodrigues, Juliana Santos, Bruno Gomes, Beatriz Costa, Felipe Almeida, Mariana Fernandes, João Pinto, Luísa Nascimento, Gabriel Souza, Manuela Santos, Thiago Oliveira, Sofia Ferreira, Rafael Albuquerque, Isabella Gomes, Bruno Costa, Maria Martins, Rafaela Souza, Matheus Fernandes, Luísa Almeida, Beatriz Pinto, Mariana Rodrigues, Gabriel Nascimento, João Ferreira, Maria Albuquerque, Felipe Oliveira'
lista

'José da Silva, Maria Oliveira, Pedro Martins, Ana Souza, Carlos Rodrigues, Juliana Santos, Bruno Gomes, Beatriz Costa, Felipe Almeida, Mariana Fernandes, João Pinto, Luísa Nascimento, Gabriel Souza, Manuela Santos, Thiago Oliveira, Sofia Ferreira, Rafael Albuquerque, Isabella Gomes, Bruno Costa, Maria Martins, Rafaela Souza, Matheus Fernandes, Luísa Almeida, Beatriz Pinto, Mariana Rodrigues, Gabriel Nascimento, João Ferreira, Maria Albuquerque, Felipe Oliveira'

In [ ]:
nome_1 = 'Mariana Rodrigues'
nome_2 = 'Marcelo Nogueira'

In [ ]:
if nome_1 in lista:
  print(f'{nome_1} está na lista')
else:
  print(f'{nome_1} não está na lista')

Mariana Rodrigues está na lista

In [ ]:
if nome_2 in lista:
  print(f'{nome_2} está na lista')
else:
  print(f'{nome_2} não está na lista')

Marcelo Nogueira não está na lista

In [ ]:
n1 = float(input('Digite o primeiro número: ').replace(',','.'))
n2 = float(input('Digite segundo número: ').replace(',','.'))

if n1 > n2:
  print(f'O número maior é {n1}')
elif n2 > n1:
  print(f'O número maior é {n2}')
else:
  print('Os dois números são iguais')

Digite o primeiro número: 1
Digite segundo número: 2
O número maior é 2.0

In [ ]:
# Coleta do percentual
variacao = float(input('Digite o percentual de crescimento: '))

# Verifica se o valor é positivo ou negativo com uma verificação se o número
# é maior ou menor que 0
if variacao > 0:
    print(f'Houve um crescimento de {variacao}%')
elif variacao < 0:
    print(f'Houve um decrescimento de {variacao}%')
else:
    print('Não houve crescimento ou decrescimento.')

Digite o percentual de crescimento: 0
Não houve crescimento ou decrescimento.

In [ ]:
from ast import If
letra = input('Digite uma letra: ').lower()
vogais = 'aeiou'

if letra in vogais:
  print('A letra digitada é uma vogal')
else:
  print('A letra digitada é uma consoante')

Digite uma letra: A
A letra digitada é uma vogal

In [ ]:
p_valor = float(input('Digite valor médio do primeiro ano: ').replace(',','.'))
s_valor = float(input('Digite valor médio do segundo ano: ').replace(',','.'))
t_valor = float(input('Digite valor médio do terceiro ano: ').replace(',','.'))

maior = p_valor
if s_valor > maior:
  maior = s_valor
if t_valor > maior:
  maior = t_valor

menor = p_valor
if s_valor < menor:
  menor = s_valor
if t_valor < menor:
  menor = t_valor

print(f'O preço mais alto foi {maior}')
print(f'O preço mais baixo foi {menor}')

Digite valor médio do primeiro ano: 2000
Digite valor médio do segundo ano: 3000
Digite valor médio do terceiro ano: 1500
O preço mais alto foi 3000.0
O preço mais baixo foi 1500.0

In [ ]:
p1 = float(input('Digite o valor do primeiro produto: R$').replace(',','.'))
p2 = float(input('Digite o valor segundo produto: R$').replace(',','.'))
p3 = float(input('Digite o valor do terceiro produto: R$').replace(',','.'))

if p1 < p2 and p1 < p3:
  print('O primeiro produto é o mais barato.')
elif p2 < p1 and p2 < p3:
  print('O segundo produto é o mais barato.')
elif p3 < p2 and p3 < p1:
  print('O terceiro produto é o mais barato.')
elif p1 == p2 == p3:
    print('Os 3 produtos possuem o mesmo preço.')

else:
  if p1 == p2:
    print('O primeiro e segundo produtos são os mais baratos.')
  elif p2 == p3:
    print('O segundo e terceiro produtos são os mais baratos.')
  elif p1 == p3:
    print('O primeiro e terceiro produtos são os mais baratos.')

Digite o valor do primeiro produto: R$5
Digite o valor segundo produto: R$5
Digite o valor do terceiro produto: R$5
Os 3 produtos possuem o mesmo preço.

In [ ]:
n1 = float(input('Digite o primeiro número: ').replace(',','.'))
n2 = float(input('Digite o segundo número: ').replace(',','.'))
n3 = float(input('Digite o terceiro número: ').replace(',','.'))

if(n1 >= n2) and (n1 >= n3):
  print(n1)
  if n2 >= n3:
    print(n2)
    print(n3)
  else:
      print(n3)
      print(n2)

elif(n2 >= n1) and (n2 >= n3):
  print(n2)
  if n1 >= n3:
    print(n1)
    print(n3)
  else:
      print(n3)
      print(n1)

else:
  print(n3)
  if n1 >= n2:
    print(n1)
    print(n2)
  else:
      print(n2)
      print(n1)

Digite o primeiro número: 5
Digite o segundo número: 8
Digite o terceiro número: 3
8.0
5.0
3.0

In [ ]:
turno = input('Em qual turno você estuda? (manhã, tarde ou noite) ').lower()

if turno == 'manhã':
  print('Bom dia!')
elif turno == 'tarde':
  print('Boa tarde!')
elif turno == 'noite':
  print('Boa noite!')
else:
  print('Valor inválido!')

Em qual turno você estuda? (manhã, tarde ou noite) oi
Valor inválido!

In [ ]:
numero = int(input('Digite um número inteiro: '))

if numero % 2 == 0:
  print('O número é par.')
else:
  print('O número é ímpar.')

Digite um número inteiro: 1789
O número é ímpar.

In [ ]:
numero = float(input('Digite umo número: ').replace(',','.'))

if numero % 1 == 0:
  print('O número é inteiro.')
else:
  print('O número é decimal.')

Digite umo número: 10,2
O número é decimal.

In [ ]:
n1 = float(input('Digite o primeiro número: ').replace(',','.'))
n2 = float(input('Digite o segundo número: ').replace(',','.'))

operacao = input('Qual operação você deseja realizar? (divisão, multiplicação, subtração ou adição) ').lower()

if operacao == 'divisão':
  resultado = n1 / n2
  print('O valor do resultado é: ', resultado)
elif operacao == 'multiplicação':
  resultado = n1 * n2
  print('O valor do resultado é: ', resultado)
elif operacao == 'subtração':
  resultado = n1 - n2
  print('O valor do resultado é: ', resultado)
elif operacao == 'adição':
  resultado = n1 + n2
  print('O valor do resultado é: ', resultado)
else:
  print('Operação inválida, resultado da operação será 0')
  resultado = 0

if resultado % 1 == 0:
    print('O resultado é inteiro.')
else:
    print('O resultado é decimal.')

if resultado > 0:
  print('O resultado é positivo.')
elif resultado == 0:
  print('O resultado é neutro.')
else:
  print('O resultado é negativo.')

if resultado % 2 == 0:
  print('O resultado é par.')
else:
  print('O resultado é ímpar.')

Digite o primeiro número: 2
Digite o segundo número: 524381
Qual operação você deseja realizar? (divisão, multiplicação, subtração ou adição) adição
O valor do resultado é:  524383.0
O resultado é inteiro.
O resultado é positivo.
O resultado é ímpar.

In [ ]:
print('Digite 3 números que represente os lados de um triângulo')
n1 = float(input('Digite o comprimento do primeiro lado: ').replace(',','.'))
n2 = float(input('Digite o comprimento do segundo lado: ').replace(',','.'))
n3 = float(input('Digite o comprimento do terceiro lado: ').replace(',','.'))

if (n1 + n2 > n3) and (n2 + n3 > n1) and (n1 + n3 > n2):
  print('Os valores podem ser utilizados para formar um triângulo.')
  if (n1 == n2 == n3):
    print('Os valores informados formam um triângulo equilátero.')
  elif (n1 == n2) or (n2 == n3) or (n1 == n3):
    print('Os valores informados formam um triângulo isósceles.')
  elif n1 != n2 !=n3:
    print('Os valores informados formam um triângulo escaleno.')
else:
  print('Os valores não formam um triângulo.')

Digite 3 números que represente os lados de um triângulo
Digite o comprimento do primeiro lado: 2
Digite o comprimento do segundo lado: 7
Digite o comprimento do terceiro lado: 10
Os valores não formam um triângulo.

In [ ]:
q_litros = float(input('Digite a quantidade de litros: ').replace(',','.'))
t_combustivel = input('Digite o tipo de combustível ("D" para diesel e "E" para etanol): ').upper()

p_etanol = 1.7
p_diesel = 2.0

if t_combustivel == 'E':
  if q_litros <= 15:
    print('O valor a ser pago é R$: ', ((q_litros * p_etanol) - (0.02 * p_etanol * q_litros)))
  else:
    print('O valor a ser pago é R$: ', ((q_litros * p_etanol) - (0.04 * p_etanol * q_litros)))

elif t_combustivel == 'D':
  if q_litros <= 15:
    print('O valor a ser pago é R$: ', ((q_litros * p_diesel) - (0.03 * p_diesel * q_litros)))
  else:
    print('O valor a ser pago é R$: ', ((q_litros * p_diesel) - (0.05 * p_diesel * q_litros)))

Digite a quantidade de litros: 50
Digite o tipo de combustível ("D" para diesel e "E" para etanol): e
O valor a ser pago é R$:  81.6

In [ ]:
 def calcular_valor_a_pagar():
    # Preços por litro
    preco_etanol = 1.70
    preco_diesel = 2.00

    # Entrada do usuário
    tipo_combustivel = input("Digite o tipo de combustível (E para etanol, D para diesel): ").strip().upper()
    quantidade_litros = float(input("Digite a quantidade de litros vendidos: "))

    if tipo_combustivel == 'E':
        if quantidade_litros <= 15:
            desconto_por_litro = 0.02
        else:
            desconto_por_litro = 0.04
        preco_por_litro = preco_etanol
    elif tipo_combustivel == 'D':
        if quantidade_litros <= 15:
            desconto_por_litro = 0.03
        else:
            desconto_por_litro = 0.05
        preco_por_litro = preco_diesel
    else:
        print("Tipo de combustível inválido.")
        return

    # Cálculo do desconto e valor total a pagar
    valor_desconto = preco_por_litro * quantidade_litros * desconto_por_litro
    valor_total = (preco_por_litro * quantidade_litros) - valor_desconto

    # Exibição do resultado
    print(f"Quantidade de litros: {quantidade_litros} L")
    print(f"Preço por litro: R$ {preco_por_litro:.2f}")
    print(f"Desconto aplicado: R$ {valor_desconto:.2f}")
    print(f"Valor total a pagar: R$ {valor_total:.2f}")

# Executa a função
calcular_valor_a_pagar()

Digite o tipo de combustível (E para etanol, D para diesel): E
Digite a quantidade de litros vendidos: 15
Quantidade de litros: 15.0 L
Preço por litro: R$ 1.70
Desconto aplicado: R$ 0.51
Valor total a pagar: R$ 24.99

In [ ]:
v_2022 = float(input('Informe a quantidade de vendas em 2022: ').replace(',','.'))
v_2023 = float(input('Informe a quantidade de vendas em 2023: ').replace(',','.'))

v_percentual = ((v_2023 - v_2022) / v_2022) * 100

print('A variação percentual foi de %.2f%%.' %(v_percentual))

if v_percentual >= 20:
  print('Bonificação para o time de vendas')
elif 2 <= v_percentual < 20:
  print('Pequena bonificação para o time de vendas')
elif -10 <= v_percentual < 2:
  print('Panejamento de políticas de incentivo às vendas')
else:
  print('Corte de gastos')

Informe a quantidade de vendas em 2022: 100
Informe a quantidade de vendas em 2023: 120
A variação percentual foi de 20.00%.
Bonificação para o time de vendas

In [ ]:
1nome_aluno = 'Fabricio Daniel'
idade_aluno = 15
media_aluno = 8.45

print('Nome do aluno é %s, ele tem %d anos e sua média é %f.' %(nome_aluno, idade_aluno, media_aluno))

Nome do aluno é Fabricio Daniel, ele tem 15 anos e sua média é 8.450000.

511Quando temos que executar um mesmo bloco de comandos por várias vezes não é muito interessante fazer isso à mão.

Imaginemos a situação de termos que coletar e imprimir a média de duas notas de **3 estudantes**:

In [ ]:
nota_1 = float(input('Digite a 1° nota: '))
nota_2 = float(input('Digite a 2° nota: '))

print(f'Média: {(nota_1+nota_2)/2}')

nota_1 = float(input('Digite a 1° nota: '))
nota_2 = float(input('Digite a 2° nota: '))

print(f'Média: {(nota_1+nota_2)/2}')

nota_1 = float(input('Digite a 1° nota: '))
nota_2 = float(input('Digite a 2° nota: '))

print(f'Média: {(nota_1+nota_2)/2}')

Digite a 1° nota: 8
Digite a 2° nota: 6
Média: 7.0
Digite a 1° nota: 7
Digite a 2° nota: 8
Média: 7.5
Digite a 1° nota: 4
Digite a 2° nota: 8
Média: 6.0

Agora imaginemos uma situação em que não são apenas 3 estudantes, mas sim 100 estudantes. Não seria interessante repetir o mesmo código por 100 vezes, mas sim **executar o mesmo código 100 vezes**.

Essa repetição conseguimos construir com laços de repetição!

## `WHILE`

O laço `while` é uma estrutura de controle de repetição em Python que permite executar um bloco de código repetidamente enquanto uma determinada condição é verdadeira. Sua estrutura é:



```
while condição:
    # bloco de código
```

Vamos construir um exemplo com um contador de 1 até 10.

In [ ]:
contador = 1

while contador <=10:
  print(contador)
  contador = contador + 1

1
2
3
4
5
6
7
8
9
10

Agora vamos coletar as notas e médias de cada aluno dentro do while. Faremos um exemplo com 3 médias.

In [ ]:
contador = 1
while contador <=3:
  nota_1 = float(input('Digite a 1° nota: '))
  nota_2 = float(input('Digite a 2° nota: '))

  print(f'Média: {(nota_1+nota_2)/2}')
  contador = contador + 1

Digite a 1° nota: 8
Digite a 2° nota: 9
Média: 8.5
Digite a 1° nota: 8
Digite a 2° nota: 3
Média: 5.5
Digite a 1° nota: 7
Digite a 2° nota: 9
Média: 8.0

## `FOR`

O laço `for` é um tipo de estrutura de controle de fluxo em Python que permite iterar sobre um conjunto de elementos. A sua estrutura é:



```
for elemento in conjunto:
    # código a ser executado para cada elemento
```

O laço for itera sobre cada elemento do conjunto especificado e executa o bloco de código dentro do laço para cada elemento. Quando o laço chega ao final do conjunto, ele é interrompido e o programa continua a execução após o laço.

O conjunto pode ser gerado com a função [`range()`](https://docs.python.org/3/library/functions.html#func-range). Que é uma função capaz de gerar uma sequência de números inteiros. A estrutura dessa função é:

```
range(inicio, fim, passo)
```

Segundo a documentação, o `range()` gera uma sequência de números inteiros a partir do valor do parâmetro `inicio` até o valor do parâmetro `fim`, de acordo com o valor do parâmetro `passo`. Se `inicio` não for especificado, o valor padrão é 0. Se `passo` não for especificado, o valor padrão é 1.

Vamos fazer o mesmo contador `while` agora com `for`.

In [ ]:
for contador in range(1,11):
  print(contador)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for contador in range(1, 4):
  nota_1 = float(input('Digite a 1° nota: '))
  nota_2 = float(input('Digite a 2° nota: '))

  print(f'Média: {(nota_1+nota_2)/2}')

Digite a 1° nota: 4
Digite a 2° nota: 6
Média: 5.0
Digite a 1° nota: 3
Digite a 2° nota: 9
Média: 6.0
Digite a 1° nota: 4.5
Digite a 2° nota: 6
Média: 5.25

#**Desafio: hora da prática**

Vamos praticar o uso de estruturas de repetição como o while e o for a partir de algumas atividades. Agora que estamos avançando nos conteúdos, podemos tornar os desafios mais interessantes. Para isso, vamos trabalhar com projetos de código!

In [ ]:
n1 = int(input('Digite o 1º número inteiro: '))
n2 = int(input('Digite o 2º número inteiro: '))

if n1 < n2:
  contador = n1 + 1
  while contador < n2:
    print(contador)
    contador = contador + 1
elif n2 < n1:
  contador = n2 + 1
  while contador < n1:
    print(contador)
    contador = contador + 1
else:
  print('Os números são iguais')

Digite o 1º número inteiro: 8
Digite o 2º número inteiro: 8
Os números são iguais

In [ ]:
n1 = int(input('Digite o 1º número inteiro: '))
n2 = int(input('Digite o 2º número inteiro: '))

lista = [n1,n2]

contador = min(lista) + 1
while contador < max(lista):
    print(contador)
    contador = contador + 1

Digite o 1º número inteiro: 2
Digite o 2º número inteiro: 9
3
4
5
6
7
8

In [ ]:
colonia_a = 4
colonia_b = 10

taxa_a = 0.03
taxa_b = 0.015

dias = 0

while colonia_a <= colonia_b:

  colonia_a *= (1 + taxa_a)
  colonia_b *= (1 + taxa_b)

  dias += 1

print(f'Irá levar {dias} dias para a colonia A ultrapassar a colonia B')

Irá levar 63 dias para a colonia A ultrapassar a colonia B

In [ ]:
for nota in range(1, 16):
  nota_1 = float(input('Insira a nota do usuário: '))

  while nota_1 < 0 or nota_1 > 5:
    nota_1 = float(input('Nota inválida, insira novamente a nota do usuário: '))

print(f'Notas válidas.')

Insira a nota do usuário: 1
Insira a nota do usuário: 2
Insira a nota do usuário: 6
Nota inválida, insira novamente a nota do usuário: 2
Insira a nota do usuário: 3
Insira a nota do usuário: 4
Insira a nota do usuário: 3
Insira a nota do usuário: 1
Insira a nota do usuário: 3
Insira a nota do usuário: 2
Insira a nota do usuário: 4
Insira a nota do usuário: 6
Nota inválida, insira novamente a nota do usuário: 5
Insira a nota do usuário: 0
Insira a nota do usuário: 1
Insira a nota do usuário: 5
Insira a nota do usuário: 3
Notas válidas.

In [ ]:
temp = float(input('Insira a temperatura °C: '))

contador = 0
soma = 0

while temp != -273:
  soma += temp
  contador += 1
  temp = float(input('Insira a temperatura °C: '))

print(f'A média das temperaturas é {soma/contador}')

Insira a temperatura °C: 25
Insira a temperatura °C: -50
Insira a temperatura °C: 9
Insira a temperatura °C: -89
Insira a temperatura °C: -273
A média das temperaturas é -26.25

In [ ]:
numero = int(input('Insira um número inteiro: '))

fatorial = 1
contador = 1

while contador <= numero:
  fatorial *= contador
  contador += 1

print(f'O fatorial de {numero} é {fatorial}')

Insira um número inteiro: 5
O fatorial de 5 é 120

In [ ]:
numero = int(input('Insira um número inteiro de 1 a 10: '))

for contador in range(1, 11):
  print(f'{numero} x {contador} = {numero * contador}')

Insira um número inteiro: 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
# Pedir o número
num = int(input('Informe um número inteiro de 1 a 10: '))

# Vamos gerar a tabuada
print(f'Tabuada do {num}:')
for i in range(1, 11):
    resultado = num * i
    print(f'{num} x {i} = {resultado}')

Informe um número inteiro de 1 a 10: 5
Tabuada do 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
num = int(input("Digite o número: "))

eh_primo = True

if num <= 1 :
  eh_primo = False
else:
    for i in range(2, num):
        if num % i == 0:
            eh_primo = False
            break


if eh_primo:
    print(f'O número {num} é primo')
else:
    print(f'O número {num} não é primo')

Digite o número: 5
O número 5 é primo

In [ ]:
# Coletamos as idades dos clientes
idade = int(input('Informe a idade (ou um número negativo para encerrar): '))

# Inicializamos as variáveis de contadores
contador_0_25 = 0 # contador de idades entre 0 e 25
contador_26_50 = 0 # contador de idades entre 26 e 50
contador_51_75 = 0 # contador de idades entre 51 e 75
contador_76_100 = 0 # contador de idades entre 76 e 100

# nosso código executa sempre até o valor de idade for negativa
while idade >= 0:
    # contamos cada caso
    if idade >= 0 and idade <= 25:
        contador_0_25 += 1
    elif idade >= 26 and idade <= 50:
        contador_26_50 += 1
    elif idade >= 51 and idade <= 75:
        contador_51_75 += 1
    elif idade >= 76 and idade <= 100:
        contador_76_100 += 1

    # Repetir o processo de entrada de dados até que seja digitado um número negativo
    idade = int(input('Informe a idade (ou um número negativo para encerrar): '))

# Mostramos os resultados
print('Distribuição de idades:')
print('[0-25]:', contador_0_25)
print('[26-50]:', contador_26_50)
print('[51-75]:', contador_51_75)
print('[76-100]:', contador_76_100)32

Informe a idade (ou um número negativo para encerrar): 5
Informe a idade (ou um número negativo para encerrar): 5
Informe a idade (ou um número negativo para encerrar): 25
Informe a idade (ou um número negativo para encerrar): 32
Informe a idade (ou um número negativo para encerrar): 43
Informe a idade (ou um número negativo para encerrar): 95
Informe a idade (ou um número negativo para encerrar): 72
Informe a idade (ou um número negativo para encerrar): 26
Informe a idade (ou um número negativo para encerrar): 17
Informe a idade (ou um número negativo para encerrar): 18
Informe a idade (ou um número negativo para encerrar): 25
Informe a idade (ou um número negativo para encerrar): 33
Informe a idade (ou um número negativo para encerrar): 42
Informe a idade (ou um número negativo para encerrar): 69
Informe a idade (ou um número negativo para encerrar): 29
Informe a idade (ou um número negativo para encerrar): 25
Informe a idade (ou um número negativo para encerrar): 55
Informe a idade (ou um número negativo para encerrar): 52
Informe a idade (ou um número negativo para encerrar): 34
Informe a idade (ou um número negativo para encerrar): 37
Informe a idade (ou um número negativo para encerrar): 29
Informe a idade (ou um número negativo para encerrar): -1
Distribuição de idades:
[0-25]: 7
[26-50]: 9
[51-75]: 4
[76-100]: 1

In [ ]:

candidato1 = 0
candidato2 = 0
candidato3 = 0
candidato4 = 0
nulos = 0
branco = 0

for i in range (0,20):
  voto = int(input('Informe seu voto (1, 2, 3, 4, 5 ou 6): '))

  if voto == 1:
    candidato1 = candidato1 + 1
  elif voto == 2:
    candidato2 = candidato2 + 1
  elif voto == 3:
    candidato3 = candidato3 + 1
  elif voto == 4:
    candidato4 = candidato4 + 1
  elif voto == 5:
    nulos = nulos + 1
  elif voto == 6:
    branco = branco + 1
  else:
    print('Voto inválido')

print(f'Votos candidato 1: {candidato1}')
print(f'Votos candidato 2: {candidato2}')
print(f'Votos candidato 3: {candidato3}')
print(f'Votos candidato 4: {candidato4}')
print(f'Votos nulos: {nulos}')
print(f'Votos em branco: {branco}')
print(f'Percentual de votos nulos: {(nulos / 20 * 100)}')
print(f'Percentual de votos em branco: {(branco / 20 * 100)}')

Informe seu voto (1, 2, 3, 4, 5 ou 6): 1
Informe seu voto (1, 2, 3, 4, 5 ou 6): 2
Informe seu voto (1, 2, 3, 4, 5 ou 6): 1
Informe seu voto (1, 2, 3, 4, 5 ou 6): 4
Informe seu voto (1, 2, 3, 4, 5 ou 6): 5
Informe seu voto (1, 2, 3, 4, 5 ou 6): 6
Informe seu voto (1, 2, 3, 4, 5 ou 6): 3
Informe seu voto (1, 2, 3, 4, 5 ou 6): 4
Informe seu voto (1, 2, 3, 4, 5 ou 6): 2
Informe seu voto (1, 2, 3, 4, 5 ou 6): 8
Voto inválido
Informe seu voto (1, 2, 3, 4, 5 ou 6): 1
Informe seu voto (1, 2, 3, 4, 5 ou 6): 2
Informe seu voto (1, 2, 3, 4, 5 ou 6): 3
Informe seu voto (1, 2, 3, 4, 5 ou 6): 3
Informe seu voto (1, 2, 3, 4, 5 ou 6): 4
Informe seu voto (1, 2, 3, 4, 5 ou 6): 4
Informe seu voto (1, 2, 3, 4, 5 ou 6): 3
Informe seu voto (1, 2, 3, 4, 5 ou 6): 2
Informe seu voto (1, 2, 3, 4, 5 ou 6): 1
Informe seu voto (1, 2, 3, 4, 5 ou 6): 2
Votos candidato 1: 4
Votos candidato 2: 5
Votos candidato 3: 4
Votos candidato 4: 4
Votos nulos: 1
Votos em branco: 1
Percentual de votos nulos: 5.0
Percentual de votos em branco: 5.0

# Estruturas de dados

Um conjunto de elementos é uma coleção de itens, que são armazenados juntos de maneira organizada. Alguns exemplos de conjuntos de elementos em Python são listas, strings e dicionários.

## Listas

As listas podem armazenar uma coleção de itens em ordem. Eles são delimitados por colchetes `[]` e os itens são separados por vírgulas.

Elas também podem armazenar qualquer tipo de item, incluindo números, strings, objetos e outras listas. Elas também podem armazenar itens de tipos de dados diferentes juntos em uma única lista.

In [ ]:
lista = ['Fabricio Daniel', 9.5, 9.0, 8.0, True]
lista

['Fabricio Daniel', 9.5, 9.0, 8.0, True]

As listas são organizadas em Python porque **cada elemento da lista tem um índice que indica sua posição na lista**. Os índices começam em 0 e vão até o tamanho da lista menos 1.

Temos então 5 elementos com índices variando de 0 a 4, ordenadamente:

```
#             [0]           [1]   [2]   [3]    [4]
lista = ['Fabricio Daniel', 9.5 , 9.0 , 8.0 , True]
```

Em Python temos também os índices **negativos** que se iniciam no último elemento com o valor de `-1` e depois avancam no universo dos negativos até chegar no 1° elemeno:

```
#             [-5]         [-4]  [-3]  [-2]   [-1]
lista = ['Fabricio Daniel', 9.5 , 9.0 , 8.0 , True]
```

Conseguimos selecionar separadamente cada elemento através de seus respectivos índices. Colocando o nome da lista e em seguida o índice a ser selecionado.

In [ ]:
lista[1]

9.5

In [ ]:
lista[-1]

True

In [ ]:
for elemento in lista:
  print(elemento)

Fabricio Daniel
9.5
9.0
8.0
True

Uma forma mais dinâmica de trabalhar item por item de uma lista é utilizando um laço for para leitura elemento a elemento.

A nota `8.0` de Fabricio Daniel precisa ser ajustada pois ganhou 2 pontos em sua ultima nota por fazer um trabalho de turma. Então é necessária fazer uma troca no valor do índice `3` de `8.0` para `10.0`.

In [ ]:
lista [3] = 10
lista

['Fabricio Daniel', 9.5, 9.0, 10, True]

conseguimos calcular a média do aluno a partir dos dados que temos

In [ ]:
media = (lista[1] + lista[2] + lista[3])/3
media

9.5

## Manipulação de listas

As listas são muito úteis em Python porque permitem armazenar e acessar uma coleção de itens de maneira organizada e rápida. Elas também oferecem muitos métodos úteis para manipular os itens armazenados, como adicionar, remover, classificar e pesquisar elementos.

#### Quantidade de elementos

Usamos a função [`len()`](https://docs.python.org/3/library/functions.html#len) para descobrimos a quantidade de elementos de um conjunto.

In [ ]:
len(lista)

5

#### Partição

A partição de listas por indexação em Python é uma técnica muito útil para selecionar um subconjunto de elementos de uma lista. Ela é feita usando a sintaxe `lista[inicio:fim]`, onde `inicio` é o índice do primeiro elemento a ser incluído na partição e `fim` é o índice do primeiro elemento a ser excluído da partição.

In [ ]:
lista[1:4]

[9.5, 9.0, 10]

In [ ]:
lista[1:3]

[9.5, 9.0]

In [ ]:
lista[:3]

['Fabricio Daniel', 9.5, 9.0]

In [ ]:
lista[3:]

[10, True]

In [ ]:
lista[:]

['Fabricio Daniel', 9.5, 9.0, 10, True]

#### [`append()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=of%20list%20objects%3A-,list.append(x),-Add%20an%20item)

Adiciona um elemento ao final da lista.

In [ ]:
lista.append(media)
lista

['Fabricio Daniel', 9.5, 9.0, 10, True, 9.5]

#### [`extend()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=list.extend(iterable))

Adiciona vários elementos ao final da lista.

Adicionaremos as notas `[10.0,8.0,9.0]` na lista do Fabricio Daniel

In [ ]:
lista.extend([10.0,8.0,9.0])
lista

['Fabricio Daniel', 9.5, 9.0, 10, True, 9.5, 10.0, 8.0, 9.0]

*Isso não é possivel ser feito com o* `append`.

In [ ]:
lista.append([10.0,8.0,9.0])
lista

['Fabricio Daniel', 9.5, 9.0, 10, True, 9.5, 10.0, 8.0, 9.0, [10.0, 8.0, 9.0]]

#### [`remove()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=append(x).-,list.remove(x),-Remove%20the%20first)

Remove um elemento específico da lista.

In [ ]:
lista.remove([10.0,8.0,9.0])
lista

['Fabricio Daniel', 9.5, 9.0, 10, True, 9.5, 10.0, 8.0, 9.0]

In [ ]:
lista.insert(len(lista), 5.0)

## Dicionário

Os dicionários são um tipo de estrutura de dados que armazenam pares de *chave-valor*. Eles são delimitados por chaves `{}` e os pares *chave-valor* são separados por vírgulas.

```
dicionário = {chave: valor}
```

A **chave** é um elemento único que identifica um valor no dicionário, enquanto o **valor** é o item que é armazenado para a chave. As chaves e os valores podem ser de **qualquer tipo de dado**.

Os dicionários são úteis para armazenar e acessar dados de maneira organizada e rápida. Eles são um tipo de conjunto de elementos em Python, pois armazenam uma coleção de itens.

In [ ]:
dicionario = {'chave_1': 1,
              'chave_2': 2}
dicionario

{'chave_1': 1, 'chave_2': 2}

---
**Situação:**

Vamos criar um conjunto de dados com informações de matricula de um estudante. Os dados são os seguintes:

- matricula: 2000168933
- dia de cadastro: 25
- mês de cadastro: 10
- turma: 2E

In [ ]:
cadastro = {'matricula': 2000168933,
              'dia_cadastro': 25,
              'mes_cadastro': 10,
              'turma': '2E'}
cadastro

{'matricula': 2000168933,
 'dia_cadastro': 25,
 'mes_cadastro': 10,
 'turma': '2E'}

In [ ]:
cadastro['matricula']

2000168933

In [ ]:
cadastro['turma']

'2E'

É possível substituir os valores dentro de uma chave. Por exemplo, recebemos a informação que a turma do estudante que cadastramos foi trocada para `'2G'` e agora precisamos trocar o valor da chave `'turma'`.

In [ ]:
cadastro['turma'] = '2G'
cadastro

{'matricula': 2000168933,
 'dia_cadastro': 25,
 'mes_cadastro': 10,
 'turma': '2G'}

Podemos também adicionar outros dados ao dicionário. Vamos adicionar a informação de modalidade de ensino, nosso estudante atuará inicialmente em modalidade EAD.

Então iremos definir uma chave chamada `'modalidade'` e o valor `'EAD'`.

In [ ]:
cadastro['modalidade'] = 'EAD'
cadastro

{'matricula': 2000168933,
 'dia_cadastro': 25,
 'mes_cadastro': 10,
 'turma': '2G',
 'modalidade': 'EAD'}

## Aprofundando em dicionários

#### [`pop()`](https://python-reference.readthedocs.io/en/latest/docs/dict/pop.html)
Remove um item de um dicionário e o retorna.

In [ ]:
cadastro.pop('turma')

'2G'

In [ ]:
cadastro

{'matricula': 2000168933,
 'dia_cadastro': 25,
 'mes_cadastro': 10,
 'modalidade': 'EAD'}

#### [`items()`](https://python-reference.readthedocs.io/en/latest/docs/dict/items.html)
Retorna uma lista de pares chave-valor do dicionário.

In [ ]:
cadastro.items()

dict_items([('matricula', 2000168933), ('dia_cadastro', 25), ('mes_cadastro', 10), ('modalidade', 'EAD')])

#### [`keys()`](https://python-reference.readthedocs.io/en/latest/docs/dict/keys.html)
Retorna uma lista das chaves do dicionário.

In [ ]:
cadastro.keys()

dict_keys(['matricula', 'dia_cadastro', 'mes_cadastro', 'modalidade'])

#### [`values()`](https://python-reference.readthedocs.io/en/latest/docs/dict/values.html)
Retorna uma lista dos valores do dicionário.

In [ ]:
cadastro.values()

dict_values([2000168933, 25, 10, 'EAD'])

### Leitura de valores com `for`

In [ ]:
for chaves in cadastro.keys():
  print(f'{chaves}: {cadastro}')

matricula: {'matricula': 2000168933, 'dia_cadastro': 25, 'mes_cadastro': 10, 'modalidade': 'EAD'}
dia_cadastro: {'matricula': 2000168933, 'dia_cadastro': 25, 'mes_cadastro': 10, 'modalidade': 'EAD'}
mes_cadastro: {'matricula': 2000168933, 'dia_cadastro': 25, 'mes_cadastro': 10, 'modalidade': 'EAD'}
modalidade: {'matricula': 2000168933, 'dia_cadastro': 25, 'mes_cadastro': 10, 'modalidade': 'EAD'}

In [ ]:
for chaves in cadastro.keys():
  print(cadastro[chaves])

2000168933
25
10
EAD

In [ ]:
for valores in cadastro.values():
  print(valores)

2000168933
25
10
EAD

In [ ]:
for chaves, valores in cadastro.items():
  print(f'Chave: {chaves} - Valor: {valores}')

Chave: matricula - Valor: 2000168933
Chave: dia_cadastro - Valor: 25
Chave: mes_cadastro - Valor: 10
Chave: modalidade - Valor: EAD

In [ ]:
for chaves, valores in cadastro.items():
  print(chaves, valores)

matricula 2000168933
dia_cadastro 25
mes_cadastro 10
modalidade EAD

In [ ]:
for chaves in cadastro.keys():
  print(f'{cadastro}: {chaves}')

{'matricula': 2000168933, 'dia_cadastro': 25, 'mes_cadastro': 10, 'modalidade': 'EAD'}: matricula
{'matricula': 2000168933, 'dia_cadastro': 25, 'mes_cadastro': 10, 'modalidade': 'EAD'}: dia_cadastro
{'matricula': 2000168933, 'dia_cadastro': 25, 'mes_cadastro': 10, 'modalidade': 'EAD'}: mes_cadastro
{'matricula': 2000168933, 'dia_cadastro': 25, 'mes_cadastro': 10, 'modalidade': 'EAD'}: modalidade

In [ ]:
loja = {'nomes': ['televisão', 'celular', 'notebook', 'geladeira', 'fogão'],
        'precos': [2000, 1500, 3500, 4000, 1500]}
for chave, elementos in loja.items():
  print(f'Chave: {chave}\nElementos:')
  for dado in elementos:
    print(dado)

Chave: nomes
Elementos:
televisão
celular
notebook
geladeira
fogão
Chave: precos
Elementos:
2000
1500
3500
4000
1500

# **13 - Desafio: hora da prática**

In [ ]:
lista = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]

print(f'A média de gastos é {sum(lista)/len(lista)} reais')

A média de gastos é 3144.222 reais

In [ ]:
lista_compras = [2172.54, 3701.35, 3518.09, 3456.61, 3249.38, 2840.82, 3891.45, 3075.26, 2317.64, 3219.08]
contador_3000 = 0

for valor in lista_compras:
  if valor > 3000:
    contador_3000 += 1

quantidade_compras = len(lista_compras)

porcentagem_acima_3000 = contador_3000 / quantidade_compras * 100

print(f'{contador_3000} compras foram acima de R$3000,00.')
print(f'{porcentagem_acima_3000}% dos gastos foram acima de R$3000,00.')

7 compras foram acima de R$3000,00.
70.0% dos gastos foram acima de R$3000,00.

7 compras foram acima de R$3000,00.
70.0% dos gastos foram acima de R$3000,00.

In [ ]:
lista_numeros = []

for i in range(0, 5):
   numero = int(input('Digite um número inteiro: '))
   lista_numeros.append(numero)

print(f'Lista de números inseridos: {lista_numeros}')

Digite um número inteiro: 5
Digite um número inteiro: 6
Digite um número inteiro: 7
Digite um número inteiro: 2
Digite um número inteiro: 3
Lista de números inseridos: [5, 6, 7, 2, 3]

In [ ]:
lista_numeros = []

for i in range(0, 5):
  numero = int(input('Digite um número inteiro: '))
  lista_numeros.append(numero)

print(f'Lista de números invertida: {lista_numeros[::-1]}')

Digite um número inteiro: 6
Digite um número inteiro: 8
Digite um número inteiro: 5
Digite um número inteiro: 2
Digite um número inteiro: 9
Lista de números invertida: [9, 2, 5, 8, 6]

In [27]:
numero = int(input("Digite o número inteiro: "))

lista_primos = []

for num in range(2, numero):
    primo = True
    for teste_div in range(2, num):
        if num % teste_div == 0:
            primo = False
            break
    if primo:
        lista_primos.append(num)

print(f'Lista de números primos: {lista_primos}')

Digite o número inteiro: 9
Lista de números primos: [2, 3, 5, 7]

In [30]:
# Coletamos a data
dia = int(input('Digite o dia: '))
mes = int(input('Digite o mês: '))
ano = int(input('Digite o ano: '))

# Análise de fevereiro
if mes == 2:
  # Verificamos se é ou não um ano bissexto
  if ano % 4 == 0 and (ano % 400 == 0 or ano % 100 != 0):
    dias_fevereiro = 29
  else:
    dias_fevereiro = 28
  # Verificamos se o dia colocado corresponde ao máximo de dias de fevereiro
  if dia >= 1 and dia <= dias_fevereiro:
    print('Data válida')
  else:
    print('Data inválida')
# Verificamos meses terminados em 31 dias
elif mes in [1, 3, 5, 7, 8, 10, 12]:
  if dia >= 1 and dia <= 31:
    print('Data válida')
  else:
    print('Data inválida')
# Verificamos meses terminados em 30 dias
elif mes in [4, 6, 9, 11]:
  if dia >= 1 and dia <= 30:
    print('Data válida')
  else:
    print('Data inválida')
# Caso o mês não esteja entre 1 e 12
else:
  print('Data inválida')

Digite o dia: 5
Digite o mês: 12
Digite o ano: 92
Data válida

In [37]:
bacterias_colonia = [1.2, 2.1, 3.3, 5.0, 7.8, 11.3, 16.6, 25.1, 37.8, 56.9]
porcentagem_crescimento = []

for i in range(1, len(bacterias_colonia)):

  porcentagem = 100 * (bacterias_colonia[i] - bacterias_colonia[i-1]) / (bacterias_colonia[i-1])

  porcentagem_crescimento.append(porcentagem)

print(f'Porcentagens de crescimento:\n{porcentagem_crescimento}')

Porcentagens de crescimento:
[75.00000000000001, 57.142857142857125, 51.51515151515153, 56.0, 44.87179487179489, 46.90265486725664, 51.20481927710843, 50.59760956175297, 50.52910052910054].2f

In [53]:
ids = []

doce = 0
amargo = 0

for i in range(0,10):
  ids.append(int(input(f'Digite o {i+1}° ID: ')))

for id in ids:
  if id % 2 == 0:
    doce += 1
  else:
    amargo += 1

print(f'Quantidade de produtos doces: {doce}')
print(f'Quantidade de produtos amargos: {amargo}')

Digite o 1° ID: 7456
Digite o 2° ID: 8965
Digite o 3° ID: 7896
Digite o 4° ID: 7452
Digite o 5° ID: 7132
Digite o 6° ID: 9136
Digite o 7° ID: 9531
Digite o 8° ID: 8752
Digite o 9° ID: 7891
Digite o 10° ID: 2387
Quantidade de produtos doces: 6
Quantidade de produtos amargos: 4

In [56]:
resposta = []
gabarito = ['D', 'A', 'C', 'B', 'A', 'D', 'C', 'C', 'A', 'B']
nota = 0

for i in range(0, len(gabarito)):
  resposta.append(input(f'Digite a {i+1}° resposta: ').upper())

  if resposta[i] == gabarito[i]:
    nota += 1

print(f'A nota do aluno é {nota}')

Digite a 1° resposta: a
Digite a 2° resposta: a
Digite a 3° resposta: c
Digite a 4° resposta: b
Digite a 5° resposta: a
Digite a 6° resposta: d
Digite a 7° resposta: c
Digite a 8° resposta: c
Digite a 9° resposta: a
Digite a 10° resposta: d
A nota do aluno é 8

In [60]:
tem_media = []
meses = ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']

for i in range (0, 12):
  tem_media.append(float(input(f'Digite a temperatura média do mês de {meses[i]}: ')))

media_anual = sum(tem_media)/12

print('Temperaturas acima da média em: ')
for i in range(0,12):
  if tem_media[i] > media_anual:
    print(meses[i])

Digite a temperatura média do mês de Janeiro: 30
Digite a temperatura média do mês de Fevereiro: 28
Digite a temperatura média do mês de Março: 29
Digite a temperatura média do mês de Abril: 28
Digite a temperatura média do mês de Maio: 25
Digite a temperatura média do mês de Junho: 20
Digite a temperatura média do mês de Julho: 18
Digite a temperatura média do mês de Agosto: 17
Digite a temperatura média do mês de Setembro: 19
Digite a temperatura média do mês de Outubro: 22
Digite a temperatura média do mês de Novembro: 26
Digite a temperatura média do mês de Dezembro: 30
Temperaturas acima da média em:
Janeiro
Fevereiro
Março
Abril
Maio
Novembro
Dezembro

In [63]:
vendas = {'Produto A': 300, 'Produto B': 80, 'Produto C': 60,
          'Produto D': 200, 'Produto E': 250, 'Produto F': 30}

total_vendas = sum(vendas.values())
print(f'Total de vendas: {total_vendas}')
print(f'Maior venda: {max(vendas, key=vendas.get)}')

Total de vendas: 920
Maior venda: Produto A

In [64]:
dados_vendas = {'Produto A': 300, 'Produto B': 80, 'Produto C': 60, 'Produto D': 200, 'Produto E': 250, 'Produto F': 30}

total_vendas = 0
produto_mais_vendido = ''
unidades_produto_mais_vendido = 0

for produto in dados_vendas.keys():
  total_vendas += dados_vendas[produto]

  if dados_vendas[produto] > unidades_produto_mais_vendido:
    unidades_produto_mais_vendido = dados_vendas[produto]
    produto_mais_vendido = produto
# Resultados
print(f'Total de vendas é {total_vendas}')
print(f'{produto_mais_vendido} é o mais vendido')

Total de vendas é 920
Produto A é o mais vendido

In [77]:
votos_design = {'Design 1': 1334, 'Design 2': 982, 'Design 3': 1751, 'Design 4': 210, 'Design 5': 1811}

for voto in votos_design.keys():
  total_votos = sum(votos_design.values())
  porcentagem = (votos_design[voto] / total_votos) * 100

print(f'O design vencedor é o: {max(votos_design, key=votos_design.get)}')
print(f'A porcentagem de votos foi: {porcentagem} %')

O design vencedor é o: Design 5
A porcentagem de votos foi: 29.747043363994745 %

In [86]:
salarios = [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]
dic_salarios = {}

for salario in salarios:
  abono = salario * 0.1

  if abono < 200:
    abono = 200

  dic_salarios[salario] = abono

print(dic_salarios)

{1172: 200, 1644: 200, 2617: 261.7, 5130: 513.0, 5532: 553.2, 6341: 634.1, 6650: 665.0, 7238: 723.8000000000001, 7685: 768.5, 7782: 778.2, 7903: 790.3000000000001}

In [87]:
# Lista de salários
salarios = [1172, 1644, 2617, 5130, 5532, 6341, 6650, 7238, 7685, 7782, 7903]
# Inicializamos as variáveis
dic_abonos = {} # Dicionário de abonos
total_abono = 0 # Irá somar todos os gastos com abono
abonos_minimo = 0 # Irá armazenar a quantidade de abonos mínimos
maior_abono = 0 # Irá armazenar o maior valor de abono

# Percorremos toda a lista de salários
for salario in salarios:
  # Calculamos o valor teórico de abono
  abono = salario * 0.1
  # Caso o abono seja inferior a 200,
  # ajustamos o valor de abono para o mínimo (200)
  if abono < 200:
    abono = 200
  # Adicionamos um novo dado no dicionário chave abono
  dic_abonos[salario] = abono

# Percorremos todos os valores do dicionário de abonos
for abono in dic_abonos.values():
  # Contamos o salário minimo
  if abono == 200:
    abonos_minimo += 1
  # Verificamos se o abono lido é maior que o valor armazenado em maior_abono
  # Cada vez que o abono superar o valor de maior_abono,
  # a variável maior_abono vai ser igual à abono, atribuindo um novo valor
  if abono > maior_abono:
    maior_abono = abono
  # Somamos os abonos
  total_abono += abono
# Resultados
print(f'Abonos: {dic_abonos}')
print(f'Total de gasto com abonos: {total_abono}')
print(f'Número de funcionários que receberam o abono mínimo: {abonos_minimo}')
print(f'Maior valor de abono: {maior_abono}')

Abonos: {1172: 200, 1644: 200, 2617: 261.7, 5130: 513.0, 5532: 553.2, 6341: 634.1, 6650: 665.0, 7238: 723.8000000000001, 7685: 768.5, 7782: 778.2, 7903: 790.3000000000001}
Total de gasto com abonos: 6087.8
Número de funcionários que receberam o abono mínimo: 2
Maior valor de abono: 790.3000000000001

In [ ]:
div_biologica = {'Área Norte': [2819, 7236],
 'Área Leste': [1440, 9492],
 'Área Sul': [5969, 7496],
 'Área Oeste': [14446, 49688],
 'Área Centro': [22558, 45148]}

In [88]:
dados = {'Área Norte': [2819, 7236],
         'Área Leste': [1440, 9492],
         'Área Sul': [5969, 7496],
         'Área Oeste': [14446, 49688],
         'Área Centro': [22558, 45148]}
soma_media = 0
maior_diversidade = ''
maior_soma = 0

for area, especies in dados.items():
  soma_especies = sum(especies)
  media = soma_especies / len(especies)
  print(f'A {area} tem a média de {media} espécies')

  if soma_especies > maior_soma:
      maior_soma = soma_especies
      maior_diversidade = area
  soma_media += media

media_total = soma_media / len(dados)
print(f'Média geral de espécies: {media_total}')
print(f'Área com a maior diversidade biológica: {maior_diversidade}')

A Área Norte tem a média de 5027.5 espécies
A Área Leste tem a média de 5466.0 espécies
A Área Sul tem a média de 6732.5 espécies
A Área Oeste tem a média de 32067.0 espécies
A Área Centro tem a média de 33853.0 espécies
Média geral de espécies: 16629.2
Área com a maior diversidade biológica: Área Centro

In [102]:
dados_idade = {'Setor A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
 'Setor B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
 'Setor C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
 'Setor D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}

total_idades = 0

for setor, idades in dados_idade.items():
  media = sum(idades) / len(idades)
  print(f'A média do {setor} é {media}')

  total_idades += sum(idades)

media_geral = total_idades / (len(idades) * len(dados_idade))
print(f'A média geral é {media_geral}')

acima_media = 0

for setor, idades in dados_idade.items():
  for id in idades:
    if id > media_geral:
      acima_media += 1

print(f'A quantidade de pessoas acima da média é {acima_media}')

A média do Setor A é 39.9
A média do Setor B é 42.3
A média do Setor C é 35.8
A média do Setor D é 36.5
A média geral é 38.625
A quantidade de pessoas acima da média é 18

In [100]:
# Especificamos os dados para um dicionário
dados = {'Setor A': [22, 26, 30, 30, 35, 38, 40, 56, 57, 65],
        'Setor B': [22, 24, 26, 33, 41, 49, 50, 54, 60, 64],
        'Setor C': [23, 26, 26, 29, 34, 35, 36, 41, 52, 56],
        'Setor D': [19, 20, 25, 27, 34, 39, 42, 44, 50, 65]}
# Inicializamos a variável que irá somar todas as idades
total_idades = 0
# Percorremos os valores de chaves e elementos do dicionário
for setor, idades in dados.items():
  # Calculamos a média dividindo a soma das idades pela quantidade funcionários em cada setor
  media_idade = sum(idades) / len(idades)
  # Imprimimos
  print(f'O {setor} tem a média de {media_idade}')
  # Somamos as médias
  total_idades += sum(idades)
# A média total será dada pela total_idades dividida pela quantidade de pessoas totais (setores * funcionários por setor)
media_total = total_idades / (len(idades) * len(dados))
print(f'A média de idade geral é {media_total}')

# Inicializamos a variável que irá contar todas pessoas com idade acima da média
acima_media = 0
# Percorremos novamente os valores de chaves e elementos do dicionário
for setor, idades in dados.items():
  # Lemos os elementos (idades) dentro de cada lista de idades no dicionário
  for id in idades:
    # Verificamos se o valor da idade é superior à média total
    if id > media_total:
      # Caso o valor da idade seja superior à média, incrementamos mais um no contador
      acima_media += 1
# Resultado
print(f'{acima_media} pessoas estão acima da idade média geral')

O Setor A tem a média de 39.9
O Setor B tem a média de 42.3
O Setor C tem a média de 35.8
O Setor D tem a média de 36.5
A média de idade geral é 38.625
18 pessoas estão acima da idade média geral